/* 
.hero-banner .row>div {
  margin-bottom: 20px;
}

.hero-banner .row>div:last-child {
  margin: 0;
}
.sc-health-ins .row>div {
  margin-bottom: 20px;
}

.sc-health-ins .row>div:last-child {
  margin: 0;
} 
  .sc-howworks .row>div {
  margin-bottom: 20px;
}

.sc-howworks .row>div:last-child {
  margin: 0;
}
 */