:root {
  --black: #000;
  --white: #fff;
  --font-family-p: "Manrope", sans-serif;

  --dark-gray: #101010;
  --primary-blue: #051A6F;
  --success-green: #2B8F1C;
  --deep-black: #111111;
  --light-bg: #F8F8F9;
  --light-gray: #F6F7F8;
  --light-green: #E6FFE2;
  --gray-text: #666666;
  --navy-blue: #132B8E;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.2;
}

p {
  margin: 0;
  line-height: 1.6;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Media & Images */
img {
  width: 100%;
  display: block;
  height: auto;
}

/* Forms */
button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.4s ease-in-out;
}

a:hover {
  text-decoration: none;
  transition: all 0.6s ease-in-out;
}

figure {
  margin: 0;
  padding: 0;
}

/*  */
.container {
  max-width: 1296px !important;
}

.btn-main {
  display: inline-block;
  border-radius: 8px;
  padding: 17px 33px;
  background: var(--primary-blue);
  font: 600 16px/1 "Manrope";
  letter-spacing: 0;
  color: var(--white);
  transition: all ease 0.5s;
  border: 1px solid var(--primary-blue);
}

.btn-main:hover {
  background: var(--white);
  border: 1px solid var(--primary-blue);
  color: var(--primary-blue);
}

/* Header */
.navbar-brand img {
  max-width: 186px;
  object-fit: contain;
}

.top-header {
  background: var(--dark-gray);
  padding: 24px 0;
}

.top-header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-link,
.socail-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-link li a i {
  margin-right: 8px;
}

.contact-link li a,
.socail-links li a {
  color: var(--white);
}

.contact-link li a {
  font: 500 14px/1.1 var(--font-family-p);
}

.contact-link li a:hover,
.socail-links li a:hover {
  color: var(--success-green);
}

.site-header .navbar-nav {
  gap: 36px;
}

.site-header .navbar-nav li a {
  margin: 0 !important;
  padding: 0 !important;
  font: 600 16px/1 var(--font-family-p);
}


.site-header .navbar-nav li a.active,
.site-header .navbar-nav li a:hover {
  color: var(--primary-blue);
}

/*  */
.hero-banner {
  padding: 120px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--light-green);
}

.hero-banner h1 {
  font-family: var(--font-family-p);
  font-weight: 600;
  font-size: 55px;
  line-height: 1.2;
  text-transform: capitalize;
  margin: 0 0 16px;
  max-width: 461px;

}

.hero-banner p {
  font: 500 18px/1.6 var(--font-family-p);
  color: var(--gray-text);
  margin-bottom: 24px;
}


.green-clr {
  color: var(--success-green);
}

.blue-clr {
  color: var(--primary-blue);
}

.hero-banner .row {
  align-items: center;
}



.hero-banner .img-wrap img {
  height: 480px;
  object-fit: cover;
  border-radius: 20px;

}

/*  */
.sc-health-ins {
  background-color: var(--light-bg);
  padding: 100px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.sc-health-ins .text-wrap {
  max-width: 972px;
  margin: 0 auto 40px;
  text-align: center;
}

.sc-health-ins .text-wrap h2 {
  font: 600 44px/1.2 var(--font-family-p);
  margin-bottom: 16px;
  color: var(--deep-black);
}

.sc-health-ins .text-wrap p {
  font: 400 16px/1.6 var(--font-family-p);
  color: var(--gray-text);
}

.sc-health-card {
  background-color: var(--white);
  border-radius: 12px;
  padding: 28px 50px;
  display: flex;
  align-items: center;
  gap: 24px;
  height: 100%;
}

.sc-health-card-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #E1F1E5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
}

.sc-health-card-img img {
  max-width: 38px;
  height: 38px;
  object-fit: contain;
}

.sc-health-card-text h4 {
  font: 600 28px/1.2 var(--font-family-p);
  color: var(--primary-blue);
  margin-bottom: 6px;
}

.sc-health-card-text p {
  font: 500 15px/1.6 var(--font-family-p);
  color: var(--gray-text);
}

/*  */
.sc-howworks {
  padding: 100px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sc-howworks h2 {
  font: 600 44px/1.2 var(--font-family-p);
  margin-bottom: 40px;
  color: var(--deep-black);
  text-align: center;
}

/*  */
.work-card {
  padding: 48px 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  background-color: var(--light-green);
  height: 100%;
}

.word-card-icon {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--success-green);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 600 32px/1 var(--font-family-p);
  color: var(--white);
}

.word-card-icon::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  width: 74px;
  height: 74px;
  border: 2px dashed var(--success-green);
  border-radius: 50%;
  background: transparent;
}

.word-card-text {
  text-align: center;
}

.word-card-text h4 {
  font: 600 26px/1.2 var(--font-family-p);
  margin-bottom: 12px;
  text-align: center;
}

.word-card-text p {
  font: 400 16px/1.6 var(--font-family-p);
  margin-bottom: 22px;
  text-align: center;
}

.word-card-text a {
  font: 600 18px/1.1 var(--font-family-p);
  color: var(--primary-blue);
  text-align: center;
  text-decoration: underline;
}

#work-card-1 {
  background: var(--light-bg) url('../images/background-img.png') center/cover no-repeat;

}

#work-card-2 {
  background: var(--light-gray);
}

#work-card-2 a {
  color: var(--dark-gray);
}

.sc-howworks-btm-card {
  background: var(--primary-blue);
  padding: 18px 59px;
  font: 500 18px/1.2 var(--font-family-p);
  color: var(--white);
  border-radius: 70px;
  max-width: 852px;
  margin: 0 auto;
  text-align: center;
}

/*  */

.sc-testimonial {
  padding: 100px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: var(--light-bg);
}

.sc-testimonial h2 {
  font: 600 44px/1.2 var(--font-family-p);
  margin-bottom: 40px;
  color: var(--deep-black);
  text-align: center;
}

.testimonial-swiper .swiper-button-next,
.testimonial-swiper .swiper-button-prev {
  display: none;
}

.testimonial-swiper .swiper-pagination {
  position: unset !important;
  margin-top: 30px;
}

.testimonial-swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #CCCCCC;
  border-radius: 50%;
}

.testimonial-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 24px;
  border-radius: 7px;
  background-color: var(--primary-blue);
}

.testimonial-card {
  border: 1px solid #E0E6F7;
  padding: 26px;
  border-radius: 16px;
  background-color: var(--white);
}

.testimonial-card p {
  font: 600 14px/1.6 var(--font-family-p);
  color: var(--gray-text);
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.testimonial-card a {
  font: 600 14px/1 var(--font-family-p);
  color: var(--primary-blue);
}

.user-dt {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-bottom: 14px;
}

.user-dt-ing img {
  width: 81px;
  height: 81px;
  border-radius: 50%;
  object-fit: cover;
}

.user-dt-text h6 {
  font: 600 16px/1.2 var(--font-family-p);
  color: var(--black);
  margin-bottom: 8px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.rating i {
  font-size: 14px;
  color: #FFCA40;
}

/*  */

.sc-accordion {
  padding: 100px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sc-accordion h2 {
  font: 600 44px/1.2 var(--font-family-p);
  margin-bottom: 40px;
  color: var(--deep-black);
}

.accordion-wrap {
  background-color: var(--light-bg);
  border-radius: 64px;
  padding: 50px;
}

.sc-accordion .accordion {
  margin-bottom: 30px;
}

.sc-accordion .accordion-item {
  margin-bottom: 24px;
  border-radius: 32px;
  padding: 34px;
  background-color: var(--white);
}

.sc-accordion .accordion-item h2 {
  margin: 0;
}

.sc-accordion .accordion-body {
  padding: 0;
  margin-top: 36px;
}

.sc-accordion .accordion-item button {
  font: 600 24px/1.2 var(--font-family-p);
  color: var(--black);
  background-color: unset;
  border: unset;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  padding: 0 30px 0 0;
}

.sc-accordion .accordion-item button:focus {
  box-shadow: none;
  outline: none;
}

.sc-accordion .accordion-body p {
  font: 400 16px/1.6 var(--font-family-p);
  color: var(--gray-text);
  margin: 0;
}


.sc-accordion .accordion-item:last-child {
  margin-bottom: 0;
}

.accordion-button::after {
  display: none;
}

.accordion-button {
  position: relative;

}

.accordion-button::before {
  content: '\f067';
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: var(--white);
  width: 48px;
  background-color: #CCCCCC;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accordion-button:not(.collapsed)::before {
  content: '\f068';
  background-color: var(--success-green);
}

/*  */
.uppet-ft {
  padding: 60px 0;
  background-color: var(--primary-blue);
}

.logo-wrap {
  padding-bottom: 27px;
  border-bottom: 1px solid #B7B7B7;
  margin-bottom: 32px;
}

.logo-wrap img {
  max-width: 217px;
  object-fit: contain;
}

.uppet-ft .first-col p {
  font: 400 14px/1.6 var(--font-family-p);
  color: var(--white);
  margin-bottom: 24px;
}

.uppet-ft h5 {
  font: 600 20px/1.2 var(--font-family-p);
  text-transform: capitalize;
  margin-bottom: 24px;
  color: var(--white);
}

.uppet-ft ul li {
  margin: 0 0 24px;
}

.uppet-ft ul li a {
  font: 500 16px/1.2 var(--font-family-p);
  text-transform: capitalize;
  color: var(--white);
}

.uppet-ft ul li a:hover {
  color: var(--success-green);
}

.socail-links-ft {
  display: flex;
  align-items: center;
  gap: 20px;
}

.socail-links-ft li {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background: #132B8E;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.socail-links-ft li a {
  font-size: 20px;
  color: var(--white);
}

.socail-links-ft li a:hover {
  color: var(--success-green);
}

.btm-ft {
  padding: 30px 0;
  background-color: var(--navy-blue);
}

.btm-ft p {
  font: 400 16px/1.2 var(--font-family-p);
  text-transform: capitalize;
  text-align: center;
  color: var(--white);
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
}

.contact-icon {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  flex: none;
  background: #132B8E;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-icon i {
  color: var(--white);
  font-size: 20px;
}

.contact-item h6 {
  font: 400 16px/1 var(--font-family-p);
  text-transform: capitalize;
  margin-bottom: 10px;
  color: var(--white);
}

.contact-item a {
  font: 500 18px/1 var(--font-family-p);
  text-transform: capitalize;
  color: var(--white);
}

.site-header .navbar-toggler {
  border: 0;
  box-shadow: none !important;
  outline: 0 !important;
}